.list-group-item {
  line-height: 2.5;
}

#map {
  height: 500px;

}
.resort-table{
  font-size: 20px;
}
/* 
.containter{
  margin-left: 0px;
  margin-right: 0px;
} */

.resort-link{
  color: red;
}

#home {background-image: url("https://media1.giphy.com/media/ngcnCL7tHBgiY/giphy.gif?cid=790b76115d2f75d67535427055ae6172&rid=giphy.gif");}
  
#submit-location{
  margin-left: 50px;
}
  
