.list-group-item {
  line-height: 2.5;
}

#map {
  height: 500px;
  /* width: 500px; */
  /* float:right; */
  /* background-color: gray; */
  /* opacity: 0%; */
}

/* html,
body {
  height: 75%;
  margin: 0;
  padding: 0;
} */

#home {background-image: url("https://media1.giphy.com/media/ngcnCL7tHBgiY/giphy.gif?cid=790b76115d2f75d67535427055ae6172&rid=giphy.gif");}
  
/* div {
  background-image: url("https://media1.giphy.com/media/ngcnCL7tHBgiY/giphy.gif?cid=790b76115d2f75d67535427055ae6172&rid=giphy.gif");
} */
  